.plans-container--slider {
    justify-content: center;
}
.product-cards--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.hero-image-container{
    background-image: url('../assets/img/bitcoinbaby2x.png');

}
