/* 
1- Posicionamiento
2- Modelo de caja (Box model)
3- Tipografia
4- Visuales (Shadow..)
5- Otros
 */

:root {
     /* Colores */
     --bitcoin-orange: #F7931A;
     --soft-orange:#FFE9D5;
     --secondary-blue:#1A9AF7;
     --soft-blue:#E7F5FF;
     --warm-black:#201E1C;
     --black:#282623;
     --grey:#BABABA;
     --off-white:#FAF8F7;
     --white:#FFFFFF;
     
 }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    /* Posicionamiento */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Modelo de caja */
    width: 100%;
    min-width: 320px; 
    height: 334px;
    /* Tipografia */
    text-align: center;
    /* Visuales */
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img {
    width: 102px;
    height: 18px;
    margin-top: 60px;
    align-self: center;
}
.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
}
.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header--title-container .header--button {
    position: absolute;
    top: 270px;
    left: calc(50% - 118px);
    display: flex;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Sombras */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin: 6px 0 0 14px  ;
    background-image: url('./assets/icons/down-arrow.svg');
}

/* Main exchange container */

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
} 
.main-exchange-container {
    width: 100%;
    height: auto;
    padding: 80px 0 30px ;
    text-align: center;

}
.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container h2 {
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: bold ;
    line-height: 2.6rem;
    color:var(--warm-black);
}
.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}